@font-face {
    font-family: 'new-rodin-pro-ub';
    src: url('../fonts/FOT-NewRodinPro-UB.otf');
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'new-rodin-pro-ub', 'Noto Sans JP', sans-serif;
    font-weight: 1000;
    font-size: 45px;
    line-height: 72px;
    color: #ffffff;
    text-shadow:
            3px 3px 0px #000, -3px -3px 0px #000,
           -3px 3px 0px #000,  3px -3px 0px #000,
            3px 0px 0px #000, -3px -0px 0px #000,
            0px 3px 0px #000,  0px -3px 0px #000;
}

.timer {
    font-size: 60px;
}